@font-face {
  font-family: header;
  src: url("/src/font/KGSecondChancesSketch.ttf");
}

@font-face {
  font-family: headerMain;
  src: url("/src/font/KGSecondChancesSolid.ttf");
}

h1 {
  font-family: "headerMain";
  border-bottom: 6px solid;
  padding: 6px;
}

.index {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.room-box {
  background-color: #87cfc6;
  padding: 16px;
  border: 2px solid;
}

.room-box h2 {
  margin-top: -32px;
  background-color: #FFF;
  width: 120px;
  font-family: "header";
  text-align: center;
}

.buttons {
  margin-top: 16px;
}

.buttons button {
  cursor: pointer;
  padding: 4px;
  transition: .2s;
}

.buttons button:hover {
  transition: .2s;
  padding: 8px;
  box-shadow: 0 0 6px;
}
